<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <section class="main">
      <nav class="nav-bar">
        <h1><a href="/">BLOG.io</a></h1>
        <div class="right-side">
          <!-- <form action="/admin/create-post" method="get">
            <button>Create Post</button>
          </form> -->

          <div class="nav-routing">
            <% if(isLogin){ %>
            <a class="nav-route-btn" href="/admin/create-post">Create</a>
            <form action="/logout" method="post">
              <button type="submit">Logout</button>
            </form>
            <% } else { %>
            <a class="nav-route-btn" href="/login">Login</a>
            <a class="nav-route-btn" href="/register">Register</a>
            <% } %>
          </div>
        </div>
      </nav>

