<%- include("./includes/head.ejs") %>

<div class="no-posts">
  <h1>Email has been send.</h1>
  <p>
    Thank you for requesting a password reset. We've sent a password reset link
    to your registered email address. Please check your inbox, as well as your
    spam or junk folder, if you don't see the email in your primary inbox.
  </p>
  <div class="nav-routing">
    <a
      class="create-route-btn w-full"
      href="https://mail.google.com/mail/u/0/#inbox"
      target="_blank">
      Open Gmail
    </a>
  </div>
</div>

<%- include("./includes/foot.ejs") %>
