<%- include("../includes/head.ejs") %>

<div class="error-container">
  <h1><%= status_key %></h1>
  <p><%= status_msg %></p>
  <a class="back-btn" href="/">Back to Home</a>
</div>

<%- include("../includes/foot.ejs") %>
